.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    right: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color: var(--background);
    box-shadow: 0px 0px 10px rgb(173, 167, 167);
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
}

/* BOTÓN DE HAMBURGUESA */
.burger_button {
    font-size: 30px;
    z-index: 101;
}

#funcion_burger_button {
    /*NUNCA TIENE QUE VERSE*/
    display: none;

}

.burger_button_action {
    display: block;

}

/* FUNCIÓN BOTÓN DE HAMBURGUESA*/
@media (max-width: 767px) {
    .burger_button_action {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
    }

    .menu_nav {
        position: absolute;
        top: 100%;
        left: 0;
        width: 170px;
        height: 0;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        transition: height 0.5s ease-out;
        background-color: var(--background);
        box-shadow: 0px 5px 10px rgb(173, 167, 167);

    }

    .menu_nav_ul a {
        margin-left: 20px;
        margin-top: 10px;
        display: block;
        background-color: var(--celeste-primario);
        padding: 5px;
        border-radius: 5px;
        color: var(--blanco);
        font-size: 16px;
        max-width: 70%;
    }

    .checkbox_burger:checked~.menu_nav {
        height: 100vh;
    }

}

#logo {
    width: 100%;
}

.search_bar,
.user_nav {
    display: none;
}

.mobile_user_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 40%;
}

/* TABLET TABLET TABLET TABLET TABLET TABLET */

@media (min-width:768px) {

    .header{
        max-height: 25vh;
    }

    .header_container {
        display: grid;
        grid-template-columns: 20% 40% 35%;
        grid-template-rows: 70% 30%;
        gap: 3px;
        margin-bottom: 15px;
    }

    .burger_button_action,
    .mobile_user_nav {
        display: none;
    }

    .search_bar,
    .user_nav {
        display: flex;
    }

    #logo{
        height: 10vh;
        width: auto;
    }

    .search_bar{
        justify-content: center;
    }

    .input_search_bar {
        border-style: none;
        border: 1px solid white;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        width: 80%;
        padding: 5px 10px;
    }

    .submit_search_bar {
        background-color: white;
        border: 1px solid white;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        padding: 5px 10px;
    }


    .menu_nav {
        grid-column: 1 / 4;
        grid-row: 2;
    }

    .menu_nav_ul,
    .user_nav_ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }

    .menu_nav_a, .user_nav_a{
        background-color: var(--celeste-primario);
        color: var(--blanco);
        padding: 3px 10px;
        border-radius: 5px;
        font-size: 16px;
    }

    .user_nav_a{
        background-color: var(--naranja-primario);

        .carrito{
            color: var(--blanco)
        }
    }
}

@media (min-width:1024px) {

    .header_container{
        margin: 20px;
    }
    #logo{
        height: 12vh;
        width: auto;
        cursor: pointer;
    }

    .input_search_bar{
    padding: 10px 15px;
    }

    .submit_search_bar{
        cursor: pointer;
    }

    .menu_nav{
        width: 80%;
    }

    .menu_nav_ul li, .user_nav_ul li {
        transition: transform 0.5s ease-in-out;

    }

    .menu_nav_ul li:hover, .user_nav_ul li:hover{
        transform: scale(1.1);
    }
    
    .user_nav_a, .menu_nav_a{
        font-size: 18px;
        padding: 5px 15px;
        transition: background-color 0.5s ease-in-out, transform 0.5s ease-in-out;
    }

    .user_nav_a:hover{
        background-color: var(--naranja-secundario);
    }

    .menu_nav_a:hover{
        background-color: var(--celeste-secundario);
    }

}