.product-detail {
    background-color: var(--blanco);
    border: 1px solid var(--border-article);
    border-radius: 10px;
    padding: 0.6rem;
    margin: 20px auto;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 200;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 85%;
}

.image_product {
    width: 100%;
    margin-bottom: 10px;
}

.thumbnails {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    border-top: 3px solid var(--background);
}

.image_thumbnail {
    width: 25%;
    margin: 5px 5px;
    cursor: pointer;
}

.product_info {
    margin: 15px;

    .price {
        font-size: 1.8rem;
        font-weight: 500;
    }

    .text_small {
        color: var(--celeste-primario);
        margin: -10px 0px 10px 10px;
    }

    .description_color {
        font-weight: 300;
        margin: 10px 0px;
    }

    .container_quantity_color {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 10px 0px;
    }

    .container_color {
        width: 80%;
    }

    .container_quantity {
        width: 20%;
    }

    .label {
        display: block;
    }

    .input-user {
        width: 90%;
        margin: 0px;
    }

    #quantity {
        width: 100%;
    }

    .add_cart {
        width: 100%;
        margin: 10px 0px;
    }
}

.container_detail_table{

    .detail_table {
        width: 90%;
        border-collapse: collapse;
        margin: 10px auto;
        
    }
    
    td {
        padding: 8px;
        border: 2px solid var(--negro);
    }
    
    td:first-child {
        font-weight: 500;
    }
}