<footer>

    <div class="div_footer_redes">
        <div class="div_redes">
            <h4 class="subheading_footer">Seguinos en nuestras redes</h4>
            <ul>
                <li><a href="https://www.instagram.com/"><i class="fa-brands fa-instagram instagram"></i></a></li>
                <li><a href="https://www.facebook.com/"><i class="fa-brands fa-facebook facebook"></i></a></li>
            </ul>
        </div>
        <div class="div_newsletter">
            <h4 class="subheading_footer">Suscribite al Newsletter</h4>
            <form class="form_newsletter">
                <input type="email" class="input_email" placeholder="Escribe tu dirección de e-mail">
                <button type="submit" class="submit_mail"><i class="fa-regular fa-envelope"></i></button>
            </form>
        </div>
    </div>

    <div class="div_footer_info">
        <div class="div_links_footer">
            <h5 class="subheading_footer">Enlaces útiles</h5>
            <ul>
                <li><a href="#" class="links_footer">¿Quiénes somos?</a></li>
                <li><a href="#" class="links_footer">¿Cómo comprar?</a></li>
                <li><a href="#" class="links_footer">Términos y condiciones</a></li>
                <li><a href="#" class="links_footer">Política de Privacidad</a></li>
                <!-- <li><a href="#">Envíos y devoluciones</a></li>
                <li><a href="#">Preguntas frecuentes</a></li> LO SUGIRIÓ COPILOT -->
            </ul>
        </div>
        <div class="div_img_pagos">
            <h5 class="subheading_footer">Medios de pago</h5>
            <img src="/images/medios-de-pago-footer.png"   class="img_pagos_footer" alt="Medios de pago">
        </div>
        <div>
            <h5 class="subheading_footer">Contáctanos</h5>
            <ul>
                <li><a href="#" class="links_footer"><i class="fa-regular fa-envelope icon_contactme"></i>cosas_y_cositas@gmail.com</a></li>
                <li><a href="#" class="links_footer"><i class="fa-solid fa-location-dot icon_contactme"></i>Martín Fierro 3246, Villa Udaondo, Provincia de Buenos Aires</a></li>
                <li class="links_footer"><i class="fa-solid fa-phone icon_contactme"></i>1140552786 / 023746582175</li>
            </ul>
        </div>
    </div>
</footer>


</body>

</html>