<body>
    <header class="header">
        
        <div class="header_container">

            <input type="checkbox" name="checkbox" id="funcion_burger_button" class="checkbox_burger">
            <label for="funcion_burger_button" class="burger_button_action">
                <i class="fa-solid fa-bars burger_button"></i>
            </label>

            <a href="/">
                <img src="/images/logo-cosas-y-cositas300x100.png" id="logo" alt="Logo de Cosas y Cositas">
            </a>
            
            <form action="#" class="search_bar">
                <input type="text" class="input_search_bar" placeholder="Buscar productos">
                <button type="submit" class="submit_search_bar">
                    <i class="fa-solid fa-magnifying-glass lupa"></i>
                </button>
            </form>

            <ul class="mobile_user_nav">
                <i class="fa-solid fa-magnifying-glass lupa"></i>
                <li><a href="/users/login"><i class="fa-solid fa-user"></i></a></li>
                <li><a href="/products/productCartl"><i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>


            <!-- MENU A PARTIR DE TABLET -->
            <nav class="user_nav">
                <ul class="user_nav_ul">
                    <li><a href="/users/login" class="user_nav_a">Iniciar Sesión</a></li>
                    <li><a href="/users/register" class="user_nav_a">Registrarse</a></li>
                    <li><a href="/products/productCartl" class="user_nav_a"><i class="fa-solid fa-cart-shopping carrito"></i></a></li>
                </ul>
            </nav>
            <nav class="menu_nav">
                <ul class="menu_nav_ul">
                    <li><a href="#" class="menu_nav_a">Moda</a></li>
                    <li><a href="#" class="menu_nav_a">Marcas</a></li>
                    <li><a href="#" class="menu_nav_a">Home&Deco</a></li>
                    <li><a href="#" class="menu_nav_a">Textil</a></li>
                    <li><a href="#" class="menu_nav_a">Ofertas</a></li>
                    <li><a href="#" class="menu_nav_a">Contáctanos</a></li>
                    <li><a href="#" class="menu_nav_a">Quiénes Somos?</a></li>
                </ul>
            </nav>
        </div>
    </header>