<%- include('../partials/head.ejs') %>
    <%- include('../partials/header.ejs') %>

        <main>

            <div class="container_form">

                <h3 class="text">Agregar Productos</h3>
                <form action="/admin/add" method="POST" class="form_edit">
                    <label>Nombre:</label>
                    <input type="text" name="name" class="input-user" required>

                    <label>Imagen:</label>
                    <input type="text" name="image" class="input-user">

                    <label>Precio:</label>
                    <input type="text" name="price" class="input-user" required>

                    <label>Colores:</label>
                    <input type="text" name="color" class="input-user">

                    <label>Descripción:</label>
                    <textarea name="description" class="input-user" required></textarea>

                    <label>Descripción extra:</label>
                    <textarea name="description_ext" class="input-user" required></textarea>

                    <label>Categoría:</label>
                    <input type="text" name="category" class="input-user">

                    <label>Imágenes miniatura:</label>
                    <input type="text" name="thumbnails" class="input-user">
                    
                    <label>Detalles del producto:</label>
                    <label>Marca:</label>
                    <input type="text" name="marca" class="input-user">

                    <label>Materiales:</label>
                    <input type="text" name="materiales" class="input-user">

                    <label>Peso:</label>
                    <input type="text" name="peso" class="input-user">

                    <label>Stock:</label>
                    <input type="text" name="stock" class="input-user">

                    <button type="submit" class="submit">Agregar</button>
                </form>
            </div>
        </main>

        <%- include('../partials/footer.ejs') %>