<!-- <%- include('../partials/head.ejs') %>
    <%- include('../partials/header.ejs') %>

        <main>
            <div class="container_form">
                <h2 class="text">Crear cuenta</h2>
                <form action="#" method="get" class="form_user">
                    <input type="text" class="input-user" placeholder="Nombre y Apellido" name="nane">

                    <input type="number" class="input-user" placeholder="Teléfono" name="telefono">

                    <input type="email" class="input-user input_email" placeholder="Email" name="email">

                    <input type="text" class="input-user" placeholder="Dirección" name="domicilio">

                    <label for="fechaNacimiento" class="label_bold">Fecha de nacimiento</label>
                    <input type="date" class="input-user input_fechaNacimento" name="fechaNacimiento" id="fechaNacimiento">

                    <button type="submit" class="submit">Actualizar datos</button>
                    <a href="/" class="text_small">Volver</a>
                </form>
            </div>
        </main>
        <%- include('../partials/footer.ejs') %> -->